# Hands-On Lab 4 - Joining Data

In this lab you will use the *pandas* library to wrangle the Titanic dataset. The findings of previous labs will be used to guide the the wrangling performed.

### Step 1 - Load *titanic_train* Data

The *titantic_train.csv* file is the training dataset. Run the following code cell to load the dataset.

In [ ]:
import pandas as pd

# Load Titanic training data from CSV file
titanic_train = pd.read_csv('titanic_train.csv')
titanic_train.head()

### Step 2 - Wrangle Data

You've written quite a bit of code in previous labs to wrangle the *titanic_train* dataset into a form suitable for machine learning. We'll reuse this work. Run the following code cell to wrangle the dataset.

In [ ]:
# Enter your lab code here

### Step 3 - Exploring the *Title* Feature

As you learned in Lab 1, categorical features with high cardinality (i.e., many categorical levels) are not useful for crafting machine learning models. In the last lab, you extracted the *Title* feature from passenger names to use as a proxy for both *Sex* and *Age*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 4 - Load *titanic_titles* Data

The last lab step demonstrates that the *Title* feature has a problem - for certain categorical levels (e.g., *Jonkheer*), there are too few instances in the data. The *titanic_titles* dataset provides a solution for this problem. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 5 - Exploring *titanic_titles*

The *titanic_titles* dataset provides a mapping from passenger *Title* to a *GenericTitle*. For example, mapping the Dutch title of *Jonkheer* to *Mr*. The total set of *GenericTitle* values are *Mrs*, *Mr*, *Miss*, and *Master*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 6 - Joining Data

We can add the *GenericTitle* feature to *train_wrangled* via a left join. In general, left joins are useful in data wrangling because all rows from the left table are preserved. This allows you to quickly determine any problems (e.g., missing data) that might arise. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 7 - Validate Join

A great way to validate the results of a join is to group and aggregate the data. Be sure to use *dropna = True* in the call to the *groupby()* method to include any missing data.

In [ ]:
# Enter your lab code here

### Step 8 - Checking for Mismappings

The *titanic_titles* dataset makes some assumptions based on data analysis and subject matter expertise. For example, very few women in the early 1900s would have the military title of *Col*. Always validate assumptions with data. Type the following code into the blank code cells in your lab notebook and run each to produce the results.

In [1]:
# Enter your lab code here

In [ ]:
# Enter your lab code here

### Step 9 - Investigate Mismapping

The last lab step showed one mismapping of a female passenger to a *GenericTitle*. This mismapped passenger has an index value of 796. We can easily get the original data for this passenger from the *titanic_train* dataset. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 10 - Data Wrangling Revisited

The following code updates the data wrangling logic to include a left join to the *titanic_titles* dataset and to fix the mismapped passenger *Generic Title*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here

### Step 11 - Encoding Categorical Features

The last step is to encode the categorical features (i.e., *Pclass*, *Embarked*, & *GenericTitle*). Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [ ]:
# Enter your lab code here